<h1>Login</h1>

<%= link_to 'Login with Google', '/auth/google_oauth2' %>
<br>
<%= link_to 'Login with Github', '/auth/github' %>
<br>
<%= form_tag '/login', method: :post do %>
  Email Address:
  <br>
  <%= text_field_tag :email %>
  <br>
  Password:
  <br>
  <%= password_field_tag :password %>
  <br>
  <%= submit_tag 'Log In!' %>
  <br>
<% end %>
