<h1>Add an Accomplishment</h1>

<%= form_for @accomplishment do |f| %>

  <% if @accomplishment.errors.any? %>
    <div class="error_explanation">
      <h6><%= pluralize(@accomplishment.errors.count, "error") %> must be fixed before this accomplishment can be saved.</h6>

      <ul>
      <% @accomplishment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  What's the accomplishment?
  <br>
  <%= f.text_field :title %>
  <br>
  Its effect:
  <br>
  <%= f.text_area :effect %>
  <br>
  Accomplish(ed) on a:
  <br>
  <%= f.collection_select :day, @user.days, :name, :name %>
  <br>
  At what time?
  <br>
  <%= f.datetime_select :date_time, { discard_year: true, discard_month: true, minute_step: 15 }  %>
  <br>
  Do this every:
  <br>
  <%= f.collection_check_boxes :day_ids, @user.days, :id, :name do |e| %>
    <div class="day-choice">
      <%= e.check_box %>
      <%= e.label %>
    </div>
  <% end %>
  <br>
  <%= f.submit "Accomplished!" %>


<% end %>
