<div class="list-style">
  <div class="">
    <%= @accomplishment.title %>
  </div>
  <div class="">
    <%= @accomplishment.time_of_accompmlishment %>
  </div>
</div>
<div class="effect">
  <%= @accomplishment.effect %>
</div>
<div class="doing-on">
  Every: <% @accomplishment.days.each do |day_obj| %>
    |<%= link_to day_obj.name, day_path(day_obj) %>|
  <% end %>
</div>
<div class="list-style">
  <div>
    Since:
  </div>
  <div>
    <%= @accomplishment.human_date_time %>
  </div>
</div>
<div class="list-style">
  <% if current_user == @accomplishment.user %>
    <div>
      <%= link_to 'Edit', edit_accomplishment_path(@accomplishment) %>
    </div>
    <div>
      <%= link_to 'Remove', accomplishment_path(@accomplishment), method: :delete %>
    </div>
  <% end %>
</div>


