<h1>Signup</h1>

<%= form_for @user do |f| %>
  First Name:
  <br>
  <%= f.text_field :first_name %>
  <br>
  Last Name:
  <br>
  <%= f.text_field :last_name %>
  <br>
  Email Address:
  <br>
  <%= f.email_field :email %>
  <br>
  Password:
  <br>
  <%= f.password_field :password %>
  <br>
  Password Confirmation:
  <br>
  <%= f.password_field :password_confirmation %>
  <br>
  <br>
  <%= f.submit 'Sign Up!' %>
<% end %>

<h3>Or,</h3>

<%= link_to 'Sign up with Google', '/auth/google_oauth2' %>
<br>
<%= link_to 'Sign up with Github', '/auth/github' %>
<br>
