<h1>Signup</h1>

<%= form_for @user do |f| %>
  First Name: <%= f.text_field :first_name %>
  <br>
  Last Name: <%= f.text_field :last_name %>
  <br>
  Email Address: <%= f.email_field :email %>
  <br>
  Password: <%= f.password_field :password %>
  <br>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <br>
  <%= f.submit 'Sign Up!' %>
<% end %>

<h3>Or,</h3>

<%= link_to 'Sign up with Google', '/auth/google_oauth2' %>
<br>
<%= link_to 'Sign up with Github', '/auth/github' %>
<br>
