<% if @day.user == current_user %>
  <h2>Your <%= @day.name %></h2>
<% else %>
  <h2><%= @day.name %></h2>
<% end %>
<div class="list-style">
  <%= link_to 'Add something.', new_weekday_accomplishment_path(@day.name.downcase) %>
</div>

<% if @day.accomplishments.empty? %>
  <div class="list-style">
    Nothing tracked yet...
  </div>
  <br>
<% else %>

  <% @day.accomplishments_by_time.each do |acc| %>
    <div class="list-style">
      <div><%= link_to acc.title, acc %></div>
      <div><%= acc.time_of_accompmlishment %></div>
    </div>
    <div class="effect">
      <%= acc.effect %>
    </div>
    <div class="doing-on">
      Every: <% acc.days.each do |day_obj| %>
        |<%= link_to day_obj.name, day_path(day_obj) %>|
      <% end %>
      <div>
        <%= link_to  "Info", acc, {class: "js-show"} %>
      </div>
    </div>
    <div id="js-accomplishment-info-<%= acc.id %>">

    </div>
  <% end %>
<% end %>

<%= javascript_include_tag "accomplishmentShow" %>