<% if @day.user == current_user %>
  <h2>Your <%= @day.name %></h2>
<% else %>
  <h2><%= @day.name %></h2>
<% end %>

<% if @day.accomplishments.empty? %>
  <div>
    Nothing tracked yet...
  </div>

  <br>

  <% if @day.user == current_user %>
    <%= link_to 'Add something you want to accomplish.', new_accomplishment_path %>
  <% end %>

<% else %>

<!-- Proper show logic for the viewing of a single day -->
  <% @day.accomplishments.each do |acc| %>
    <div class="list-style">
      <div><%= link_to acc.title, acc %></div>
      <div><%= acc.time_of_accompmlishment %></div>
    </div>
    <div class="effect">
      <%= acc.effect %>
    </div>
    <div class="doing-on">
      Every: <% acc.days.each do |day_obj| %>
        |<%= link_to day_obj.name, day_path(day_obj) %>|
      <% end %>
    </div>
  <% end %>

<% end %>
